<form name="container-form" method="post" action="/courses/form-trash-actions" class="mt-4">
    <div>
        <h3>My Courses Deleted</h3>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input-1" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>
            <select name="action" class="form-select form-control-sm checkbox-select-all-options"
                aria-label="Default select example" required>
                <option value=""> -- Chọn hành động --</option>
                <option value="restore">Khôi phục</option>
                <option value="deleteforce">Xóa vĩnh viễn</option>
            </select>
            <button class="btn btn-primary btn-check-submit btn-sm disabled">Thực hiện </button>
        </div>
    </div>

    <table class="table mt-4 table-success">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">STT</th>
                <th scope="col">Tên Khóa học</th>
                <th scope="col">Level</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td><input class="form-check-input" type="checkbox" name="coursesIds[]" value="{{this._id}}"></td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-success btn-restore" data-id="{{this._id}}">Restore</a>
                    <a href="" class="btn btn-danger" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Trùng rác trống !
                    <a href="/me/stored/courses"> Danh sách khóa học </a>
                </td>
            </tr>


            {{/each}}
        </tbody>
    </table>
</form>
<!-- Modal -->
<div class="modal fade" id="delete-course-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xác nhận xóa Vĩnh viễn !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa vĩnh viễn khóa học này và không thể khôi phục ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="btn_delete_course" type="button" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- Detete form -->
<form name="delete_course_form" method="post"></form>
<form name="restore_course_form" method="post"></form>

<script>
    var courseId;
    var deleteForm = document.forms['delete_course_form']
    var btnDeleteCourse = document.getElementById('btn_delete_course')
    var btnRestore = $('.btn-restore');
    var restoreForm = document.forms['restore_course_form']
    var containerForm = document.forms['container-form']
    var checkBoxAll = $('#checkbox-all')
    var checkSubmitBtn = $('.btn-check-submit')
    var courseItemCheckbox = $('input[name="coursesIds[]"]')

    var dcm = document.getElementById('delete-course-modal')
    dcm.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        courseId = button.getAttribute('data-id')
    })

    btnDeleteCourse.onclick = function () {
        deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
        deleteForm.submit();
    }
    btnRestore.click(function (event) {
        event.preventDefault();
        courseId = $(this).data('id');
        restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
        restoreForm.submit();
    })

    checkBoxAll.change(function () {
        var isCheckedAll = $(this).prop('checked');
        courseItemCheckbox.prop('checked', isCheckedAll)
        renderCheckAllSubmitBtn();

    });

    courseItemCheckbox.change(function () {
        var isCheckedAll = courseItemCheckbox.length === $('input[name="coursesIds[]"]:checked').length;
        checkBoxAll.prop('checked', isCheckedAll);
        renderCheckAllSubmitBtn();
    })

    checkSubmitBtn.on('submit', function (e) {
        var issubmitable = !$(this).hasClass('disabled');
        if (!issubmitable) {
            e.preventDefault();
        }
    })

    function renderCheckAllSubmitBtn() {
        var checkedCount = $('input[name="coursesIds[]"]:checked').length;
        if (checkedCount > 0) {
            checkSubmitBtn.removeClass('disabled')
        }
        else {
            checkSubmitBtn.addClass('disabled')
        }
    }

</script>